*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

header{
  background-color: black;
  height: 20vh;
}

nav{
  height: 20vh;
  box-sizing: border-box;
  flex-direction: column;
  text-align: right;
  width: 80vh;
}

main{
  height: 50%;
}

section{
  height: 100%;
}

.presentacion{
   text-align: center;
   height: 20vh 20vw;
   display: flex;
   float: left;
}

.video1{
  height: 15%;
  width: 100%;
  display: flex;
  float: left;
  justify-content: center;
  border-top: 0%;
}

.galeriainicio{
    justify-content: center;
}

.galeriainicio img{
   width: 100%;
   height:35%;
   padding: 0%;
   margin: 0%;
   clear: both;
}

.footer{
  clear:both;
  background-color: yellow;
  font-family: monospace;
  font-size: 5vh;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width:770px){
  .galeriainicio img{
     width: 100%;
     height: 100vw;
     float:left;
     display: flex;
     padding: 0%;
     margin: 0%;
    }

}
